<div class="p-4 pb-0">
  <h2>Nieuw product toevoegen</h2>
</div>
<div class="max-h-[70vh] overflow-y-auto p-4">
  <form [formGroup]="productForm" (ngSubmit)="addProduct()" class="p-6">
    <mat-checkbox formControlName="isPopular" class="mt-0 mb-2">Mark as Popular</mat-checkbox>
    <mat-form-field class="w-full" >
      <mat-label>Titel</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Verkoopprijs</mat-label>
      <input matInput type="number" formControlName="piecePrice">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>kilo </mat-label>
      <input matInput type="number" formControlName="kilo">
    </mat-form-field>
    <mat-form-field class="w-full" *ngIf="isAitmaten">
      <mat-label>Aantal op voorraad (in stuks of in kilo) </mat-label>
      <input matInput type="number" formControlName="instokeOfPiece">
    </mat-form-field>
    <mat-form-field class="w-full" *ngIf="isAitmaten">
      <mat-label>Verkoopprijs Inhoud</mat-label>
      <input matInput type="number" formControlName="cratePrice">
    </mat-form-field>
    <mat-form-field class="w-full" *ngIf="isAitmaten">
      <mat-label>Aantal Inhoud</mat-label>
      <input matInput type="text" formControlName="crateQuantity">
    </mat-form-field>
    <mat-form-field class="w-full" *ngIf="isAitmaten">
      <mat-label>Aantal Op voorraad Inhoud</mat-label>
      <input matInput type="text" formControlName="instokeOfCrate">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Categorie</mat-label>
      <mat-select matInput formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>{{ isAitmaten ? 'Land van Oorsprong' : 'Beschrijving' }}</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>
    <div class="file-upload mb-5 pb-0">
      <input type="file" id="file" class="file-input" multiple (change)="onFilesSelected($event)">
  </div>
  
<div class="flex items-end">
    <div class="w-1/4 border rounded p-1 m-1" *ngIf="selectedFiles.length > 0">
        <img [src]="selectedFiles[0] | safeUrl" alt="Home Page Image" class="w-full h-64 object-cover cursor-pointer" style="width: 160px; height: 160px;">
    </div>
    <ng-container *ngFor="let img of selectedFiles.slice(1)">
        <div class="w-1/4 border rounded p-1 m-1">
            <img [src]="img | safeUrl" alt="Product Detail Image" class="w-full h-32 object-cover cursor-pointer" style="width: 80px; height: 80px;">
        </div>
    </ng-container>
</div>
    <button mat-raised-button color="primary" type="submit" class="w-full py-4 mt-4 bg-blue-500 text-white font-bold rounded hover:bg-blue-700">Add Product</button>
  </form>
</div>
 
  